@charset "utf-8";

@import "bootstrap";

body {
  background: #1C2126;
  background-image: linear-gradient(#020304, #1C2126 1100px);
  color: #768491;
  font-family: 'Open Sans', sans-serif;
}

.container {
    width: 960px;
}

::selection {
  background: #5E9CFF;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: #FFF;
}

a {
  color: #FFF;
  border-bottom: 1px solid #FFF;
}

ul {
  font-size: 18px;
}

a:hover {
  color: #FFF;
  text-decoration: none;
}

p {
  font-size: 18px;
}

header {
  height: 50px;
  margin: 135px 0 135px;
}

header .navbar-brand {
  height: 47px;
  padding: 0;
  font-size: 32px;
  text-transform: lowercase;
  color: #FFF;
  font-weight: 300;
  border-bottom: none;
}

header .navbar-brand:before {
  content: url(/images/api-blueprint.svg);
  height: 47px;
  width: 51px;
  padding-right: 15px;
}

.navbar-nav a {
  font-size: 16px;
}

header .navbar-nav a:hover, header .navbar-nav a:focus {
  background: inherit;
}

.nav a {
  border-bottom: none;
}

header .nav a:hover {
  border-bottom: 2px solid #FFF;
}

#sidebar {
  padding-top: 25px;
}

footer {
  margin-top: 50px;
}

/* Navigation */
#sidebar .nav .nav {
  display: none;
}

#sidebar .nav .active .nav {
  display: block;
}

#sidebar .nav li.active > a {
  border-left: 2px solid #dedede;
}

#sidebar .nav .nav {
  padding-left: 15px;
}

#sidebar .nav a:hover {
  background: #1C2126;
}

footer {
  margin-bottom: 50px;
}

footer .social {
  background: #2E3842;
  padding: 50px;
}

footer .social ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .social li {
  border-left: 1px solid #3E4A56;
  padding-left: 20px;
  padding-right: 20px;
}

footer .social li:first-child {
  border: 0;
}

footer .social li {
  display: inline-block;
}

footer .social a {
  border: 0;
  font-size: 18px;
}

footer .social .service {
  color: #62707D;
  font-size: 13px;
}

footer .brand {
  display: inline;
  float: left;
}

footer .license {
  float: right;
}

footer ul {
  padding-left: 10px;
  display: inline-block;
  list-style-type: none;
  margin: 0;
}

footer img {
  margin-bottom: 24px;
}

footer .info li.brand {
  font-size: 20px;
  font-weight: 300;
  text-transform: lowercase;
  color: #FFF;
}

hr {
  border-top: 1px solid #2D343C;
}

pre {
  background: #27303A;
  border: 0;
  border-left: 4px solid #545E6B;
  border-radius: 0;
  color: #6C7887;
  overflow-x: auto;
}

pre code {
  overflow-wrap: normal;
  white-space: pre;
}

code {
  background: #27303A;
  border: 0;
  border-radius: 0;
  color: #6C7887;
}

blockquote {
  border-left: 4px solid #545E6B;
}

/* Tools */
#filters {
    padding: 52px 0;
}
#tools-search {
    border-bottom: 1px solid #394652;
    position: relative;
}
#tools-search:before {
    content: url(/images/search.svg);
    height: 22px;
    width: 22px;
    position: absolute;
    top: 50%;
    margin-top: -11px;
    left: 20px;
}
#tools-search input {
    padding: 22px;
    background: transparent;
    font-size: 20px;
    color: #fff;
    line-height: 25px;
    padding-left: 55px;
    width: 100%;
    border: 0;
    outline: none;
}
.nav.nav-pills a{
    font-size: 15px;
    color: #FFFFFF;
    line-height: 18px;
}
.nav.nav-pills .active a {
    background: #4D5862;
    border-radius: 40px;
}
.tool {
    padding: 31px 0;
    border-top: 1px solid #394652;
    transition: background .1s ease-out;
}
.tool:hover {
    background: rgba(57,70,82, .12);
    cursor: pointer;
}
.tool h3{
    font-size: 24px;
    color: #FFFFFF;
    line-height: 33px;
    margin: 0;
    padding: 0;
}
.tool h3 a {
    text-decoration: none;
    border-bottom: 0;
}
.tool .summary p {
    font-size: 16px;
    color: #768491;
    line-height: 26px;
    margin: 0;
    padding: 0;
}
.tool .label.label-default {
    border: 2px solid #4D5862;
    border-radius: 3px;
    background: transparent;
    margin-top: 8px;
    display: inline-block;
}